@font-face {
    font-family: 'TT Lakes Regular';
    src: url('../fonts/TTLakes-Regular.eot');
    src: url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Regular.woff') format('woff'),
    url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../fonts/TTLakes-Bold.eot');
    src: url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TTLakes-Bold.woff') format('woff'),
    url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: row;
    min-width: 320px;
    max-width: 1440px;
    background: #fff;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

.menu__wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 5px 0 50px 10px lightgrey;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header__cross {
    margin: 23px;
}
.header__group {
    margin-right: 70px;
}
.header__search {
    margin: 23px;
}

.main__wrapper {
    width: 320px;
    height: 420px;
    margin-top: 25px;
}
.main__list > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
} 
.main__list ul li {
    font-family: 'TT Lakes Regular', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-bottom: 32px;
    margin-left: 24px;
}
.list__button {
    color: #1B1C21;    
    position: relative;    
}
.list__button_active, .list__button:focus {
    font-family: 'TT Lakes Regular', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    outline: none
}
.list__button_active::before, .list__button:focus::before{
    position: absolute;
    left: -24px;
    top: -11px;
    content: url("../img/highlight.svg");
}
.list__button:hover {
    color: #7E7E82;
    transition-duration: 0.4s;
}
.list__button:hover::before {
    position: absolute;
    left: -24px;
    top: -11px;
    content: url("../img/highlight.svg");
}


.footer__wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 220px;
    margin-left: 24px;
}
.footer__picture {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}
.footer__picture:nth-child(n) a{
    margin-right: 16px;
}
.footer__mail {
    font-family: 'TT Lakes Regular', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-bottom: 12px;
}
.footer__number {
    font-family: 'TT Lakes Bold', sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    margin-bottom: 40px;
    margin-top: 0;
}
.footer__language {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
}
.footer__button {
    font-family: 'TT Lakes Regular', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-right: 7px;
}
.footer__button_active {
    font-family: 'TT Lakes Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
}
.footer__button:focus {
    font-family: 'TT Lakes Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
}